<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffzx.stms.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.ffzx.stms.model.Commodity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="sub_title" property="subTitle" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="commodity_attribute_parameter" property="commodityAttributeParameter" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="vendor_code" property="vendorCode" jdbcType="VARCHAR" />
    <result column="vendor_id" property="vendorId" jdbcType="VARCHAR" />
    <result column="vendor_name" property="vendorName" jdbcType="VARCHAR" />
    <result column="retail_price" property="retailPrice" jdbcType="DECIMAL" />
    <result column="preferential_price" property="preferentialPrice" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="VARCHAR" />
    <result column="area_category" property="areaCategory" jdbcType="CHAR" />
    <result column="stock_limit" property="stockLimit" jdbcType="CHAR" />
    <result column="split_single" property="splitSingle" jdbcType="CHAR" />
    <result column="warehouse" property="warehouse" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="before_del_state" property="beforeDelState" jdbcType="VARCHAR" />
    <result column="big_image" property="bigImage" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="is_hot_sale" property="isHotSale" jdbcType="CHAR" />
    <result column="is_new" property="isNew" jdbcType="CHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy.id" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_update_by" property="lastUpdateBy.id" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="entity_storage" property="entityStorage" jdbcType="CHAR" />
    <result column="buy_type" property="buyType" jdbcType="CHAR" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="unit_group_id" property="unitGroupId" jdbcType="VARCHAR" />
    <result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="categoryAttribute_name" property="categoryattributeName" jdbcType="VARCHAR" />
    <result column="min_price" property="minPrice" jdbcType="DECIMAL" />
    <result column="max_price" property="maxPrice" jdbcType="DECIMAL" />
    <result column="give_type" property="giveType" jdbcType="INTEGER" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="life_unit_id" property="lifeUnitId" jdbcType="VARCHAR" />
    <result column="life_unit" property="lifeUnit" jdbcType="VARCHAR" />
    <result column="converted_value" property="convertedValue" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ffzx.stms.model.Commodity" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="LONGVARCHAR" />
    <result column="small_image" property="smallImage" jdbcType="LONGVARCHAR" />
    <result column="sale_attribute_name" property="saleAttributeName" jdbcType="LONGVARCHAR" />
    <result column="sale_attribute_alias_name" property="saleAttributeAliasName" jdbcType="LONGVARCHAR" />
    <result column="sale_attribute_ids" property="saleAttributeIds" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.code, t.name, t.alias_name, t.title, t.sub_title, t.category_id, t.commodity_attribute_parameter, 
    t.brand_id, t.brand_name, t.vendor_code, t.vendor_id, t.vendor_name, t.retail_price, 
    t.preferential_price, t.unit_id, t.area_category, t.stock_limit, t.split_single, 
    t.warehouse, t.status, t.before_del_state, t.big_image, t.keyword, t.is_hot_sale, 
    t.is_new, t.publish_time, t.create_by as 'createBy.id', t.create_date, t.last_update_by as 'lastUpdateBy.id', 
    t.last_update_date, t.remarks, t.entity_storage, t.buy_type, t.unit_name, t.unit_group_id, 
    t.sku_code, t.bar_code, t.specification, t.categoryAttribute_name, t.min_price, t.max_price, 
    t.give_type, t.period, t.life_unit_id, t.life_unit, t.converted_value
  </sql>
  <sql id="Blob_Column_List" >
    description, thumbnail, small_image, sale_attribute_name, sale_attribute_alias_name, 
    sale_attribute_ids
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="params.id != null and '' != params.id" >
        and t.id = #{params.id,jdbcType=VARCHAR}
      </if>
      <if test="params.code != null and '' != params.code" >
        and t.code = #{params.code,jdbcType=VARCHAR}
      </if>
      <if test="params.name != null and '' != params.name" >
        and t.name = #{params.name,jdbcType=VARCHAR}
      </if>
      <if test="params.aliasName != null and '' != params.aliasName" >
        and t.alias_name = #{params.aliasName,jdbcType=VARCHAR}
      </if>
      <if test="params.title != null and '' != params.title" >
        and t.title = #{params.title,jdbcType=VARCHAR}
      </if>
      <if test="params.subTitle != null and '' != params.subTitle" >
        and t.sub_title = #{params.subTitle,jdbcType=VARCHAR}
      </if>
      <if test="params.categoryId != null and '' != params.categoryId" >
        and t.category_id = #{params.categoryId,jdbcType=VARCHAR}
      </if>
      <if test="params.commodityAttributeParameter != null and '' != params.commodityAttributeParameter" >
        and t.commodity_attribute_parameter = #{params.commodityAttributeParameter,jdbcType=VARCHAR}
      </if>
      <if test="params.brandId != null and '' != params.brandId" >
        and t.brand_id = #{params.brandId,jdbcType=VARCHAR}
      </if>
      <if test="params.brandName != null and '' != params.brandName" >
        and t.brand_name = #{params.brandName,jdbcType=VARCHAR}
      </if>
      <if test="params.vendorCode != null and '' != params.vendorCode" >
        and t.vendor_code = #{params.vendorCode,jdbcType=VARCHAR}
      </if>
      <if test="params.vendorId != null and '' != params.vendorId" >
        and t.vendor_id = #{params.vendorId,jdbcType=VARCHAR}
      </if>
      <if test="params.vendorName != null and '' != params.vendorName" >
        and t.vendor_name = #{params.vendorName,jdbcType=VARCHAR}
      </if>
      <if test="params.retailPrice != null" >
        and t.retail_price = #{params.retailPrice,jdbcType=DECIMAL}
      </if>
      <if test="params.preferentialPrice != null and '' != params.preferentialPrice" >
        and t.preferential_price = #{params.preferentialPrice,jdbcType=VARCHAR}
      </if>
      <if test="params.unitId != null and '' != params.unitId" >
        and t.unit_id = #{params.unitId,jdbcType=VARCHAR}
      </if>
      <if test="params.areaCategory != null and '' != params.areaCategory" >
        and t.area_category = #{params.areaCategory,jdbcType=CHAR}
      </if>
      <if test="params.stockLimit != null and '' != params.stockLimit" >
        and t.stock_limit = #{params.stockLimit,jdbcType=CHAR}
      </if>
      <if test="params.splitSingle != null and '' != params.splitSingle" >
        and t.split_single = #{params.splitSingle,jdbcType=CHAR}
      </if>
      <if test="params.warehouse != null and '' != params.warehouse" >
        and t.warehouse = #{params.warehouse,jdbcType=CHAR}
      </if>
      <if test="params.status != null and '' != params.status" >
        and t.status = #{params.status,jdbcType=VARCHAR}
      </if>
      <if test="params.beforeDelState != null and '' != params.beforeDelState" >
        and t.before_del_state = #{params.beforeDelState,jdbcType=VARCHAR}
      </if>
      <if test="params.bigImage != null and '' != params.bigImage" >
        and t.big_image = #{params.bigImage,jdbcType=VARCHAR}
      </if>
      <if test="params.keyword != null and '' != params.keyword" >
        and t.keyword = #{params.keyword,jdbcType=VARCHAR}
      </if>
      <if test="params.isHotSale != null and '' != params.isHotSale" >
        and t.is_hot_sale = #{params.isHotSale,jdbcType=CHAR}
      </if>
      <if test="params.isNew != null and '' != params.isNew" >
        and t.is_new = #{params.isNew,jdbcType=CHAR}
      </if>
      <if test="params.publishTime != null" >
        and t.publish_time = #{params.publishTime,jdbcType=TIMESTAMP}
      </if>
      <if test="params.createBy != null and '' != params.createBy" >
        and t.create_by = #{params.createBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.createDate != null" >
        and t.create_date = #{params.createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.lastUpdateBy != null and '' != params.lastUpdateBy" >
        and t.last_update_by = #{params.lastUpdateBy.id,jdbcType=VARCHAR}
      </if>
      <if test="params.lastUpdateDate != null" >
        and t.last_update_date = #{params.lastUpdateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="params.remarks != null and '' != params.remarks" >
        and t.remarks = #{params.remarks,jdbcType=VARCHAR}
      </if>
      <if test="params.entityStorage != null and '' != params.entityStorage" >
        and t.entity_storage = #{params.entityStorage,jdbcType=CHAR}
      </if>
      <if test="params.buyType != null and '' != params.buyType" >
        and t.buy_type = #{params.buyType,jdbcType=CHAR}
      </if>
      <if test="params.unitName != null and '' != params.unitName" >
        and t.unit_name = #{params.unitName,jdbcType=VARCHAR}
      </if>
      <if test="params.unitGroupId != null and '' != params.unitGroupId" >
        and t.unit_group_id = #{params.unitGroupId,jdbcType=VARCHAR}
      </if>
      <if test="params.skuCode != null and '' != params.skuCode" >
        and t.sku_code = #{params.skuCode,jdbcType=VARCHAR}
      </if>
      <if test="params.barCode != null and '' != params.barCode" >
        and t.bar_code = #{params.barCode,jdbcType=VARCHAR}
      </if>
      <if test="params.specification != null and '' != params.specification" >
        and t.specification = #{params.specification,jdbcType=VARCHAR}
      </if>
      <if test="params.categoryattributeName != null and '' != params.categoryattributeName" >
        and t.categoryAttribute_name = #{params.categoryattributeName,jdbcType=VARCHAR}
      </if>
      <if test="params.minPrice != null" >
        and t.min_price = #{params.minPrice,jdbcType=DECIMAL}
      </if>
      <if test="params.maxPrice != null" >
        and t.max_price = #{params.maxPrice,jdbcType=DECIMAL}
      </if>
      <if test="params.giveType != null" >
        and t.give_type = #{params.giveType,jdbcType=INTEGER}
      </if>
      <if test="params.period != null and '' != params.period" >
        and t.period = #{params.period,jdbcType=VARCHAR}
      </if>
      <if test="params.lifeUnitId != null and '' != params.lifeUnitId" >
        and t.life_unit_id = #{params.lifeUnitId,jdbcType=VARCHAR}
      </if>
      <if test="params.lifeUnit != null and '' != params.lifeUnit" >
        and t.life_unit = #{params.lifeUnit,jdbcType=VARCHAR}
      </if>
      <if test="params.convertedValue != null and '' != params.convertedValue" >
        and t.converted_value = #{params.convertedValue,jdbcType=VARCHAR}
      </if>
      <if test="params.description != null and '' != params.description" >
        and t.description = #{params.description,jdbcType=LONGVARCHAR}
      </if>
      <if test="params.thumbnail != null and '' != params.thumbnail" >
        and t.thumbnail = #{params.thumbnail,jdbcType=LONGVARCHAR}
      </if>
      <if test="params.smallImage != null and '' != params.smallImage" >
        and t.small_image = #{params.smallImage,jdbcType=LONGVARCHAR}
      </if>
      <if test="params.saleAttributeName != null and '' != params.saleAttributeName" >
        and t.sale_attribute_name = #{params.saleAttributeName,jdbcType=LONGVARCHAR}
      </if>
      <if test="params.saleAttributeAliasName != null and '' != params.saleAttributeAliasName" >
        and t.sale_attribute_alias_name = #{params.saleAttributeAliasName,jdbcType=LONGVARCHAR}
      </if>
      <if test="params.saleAttributeIds != null and '' != params.saleAttributeIds" >
        and t.sale_attribute_ids = #{params.saleAttributeIds,jdbcType=LONGVARCHAR}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cims_db.commodity t 
    where t.id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cims_db.commodity t 
    where 1=1
    <include refid="condition" />
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    select count(1) as s from cims_db.commodity t  where 1=1
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cims_db.commodity t 
    where 1=1
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      order by t.${orderByField} 
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cims_db.commodity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="com.ffzx.stms.model.Commodity" >
    delete from cims_db.commodity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ffzx.stms.model.Commodity" >
    insert into cims_db.commodity (id, code, name, 
      alias_name, title, sub_title, 
      category_id, commodity_attribute_parameter, 
      brand_id, brand_name, vendor_code, 
      vendor_id, vendor_name, retail_price, 
      preferential_price, unit_id, area_category, 
      stock_limit, split_single, warehouse, 
      status, before_del_state, big_image, 
      keyword, is_hot_sale, is_new, 
      publish_time, create_by, create_date, 
      last_update_by, last_update_date, remarks, 
      entity_storage, buy_type, unit_name, 
      unit_group_id, sku_code, bar_code, 
      specification, categoryAttribute_name, min_price, 
      max_price, give_type, period, 
      life_unit_id, life_unit, converted_value, 
      description, thumbnail, small_image, 
      sale_attribute_name, sale_attribute_alias_name, 
      sale_attribute_ids)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{aliasName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=VARCHAR}, #{commodityAttributeParameter,jdbcType=VARCHAR}, 
      #{brandId,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, #{vendorCode,jdbcType=VARCHAR}, 
      #{vendorId,jdbcType=VARCHAR}, #{vendorName,jdbcType=VARCHAR}, #{retailPrice,jdbcType=DECIMAL}, 
      #{preferentialPrice,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}, #{areaCategory,jdbcType=CHAR}, 
      #{stockLimit,jdbcType=CHAR}, #{splitSingle,jdbcType=CHAR}, #{warehouse,jdbcType=CHAR}, 
      #{status,jdbcType=VARCHAR}, #{beforeDelState,jdbcType=VARCHAR}, #{bigImage,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{isHotSale,jdbcType=CHAR}, #{isNew,jdbcType=CHAR}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{createBy.id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy.id,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{entityStorage,jdbcType=CHAR}, #{buyType,jdbcType=CHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{unitGroupId,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{categoryattributeName,jdbcType=VARCHAR}, #{minPrice,jdbcType=DECIMAL}, 
      #{maxPrice,jdbcType=DECIMAL}, #{giveType,jdbcType=INTEGER}, #{period,jdbcType=VARCHAR}, 
      #{lifeUnitId,jdbcType=VARCHAR}, #{lifeUnit,jdbcType=VARCHAR}, #{convertedValue,jdbcType=VARCHAR}, 
      #{description,jdbcType=LONGVARCHAR}, #{thumbnail,jdbcType=LONGVARCHAR}, #{smallImage,jdbcType=LONGVARCHAR}, 
      #{saleAttributeName,jdbcType=LONGVARCHAR}, #{saleAttributeAliasName,jdbcType=LONGVARCHAR}, 
      #{saleAttributeIds,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ffzx.stms.model.Commodity" >
    insert into cims_db.commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="aliasName != null" >
        alias_name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="subTitle != null" >
        sub_title,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="commodityAttributeParameter != null" >
        commodity_attribute_parameter,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="vendorCode != null" >
        vendor_code,
      </if>
      <if test="vendorId != null" >
        vendor_id,
      </if>
      <if test="vendorName != null" >
        vendor_name,
      </if>
      <if test="retailPrice != null" >
        retail_price,
      </if>
      <if test="preferentialPrice != null" >
        preferential_price,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="areaCategory != null" >
        area_category,
      </if>
      <if test="stockLimit != null" >
        stock_limit,
      </if>
      <if test="splitSingle != null" >
        split_single,
      </if>
      <if test="warehouse != null" >
        warehouse,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="beforeDelState != null" >
        before_del_state,
      </if>
      <if test="bigImage != null" >
        big_image,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="isHotSale != null" >
        is_hot_sale,
      </if>
      <if test="isNew != null" >
        is_new,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="entityStorage != null" >
        entity_storage,
      </if>
      <if test="buyType != null" >
        buy_type,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="unitGroupId != null" >
        unit_group_id,
      </if>
      <if test="skuCode != null" >
        sku_code,
      </if>
      <if test="barCode != null" >
        bar_code,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="categoryattributeName != null" >
        categoryAttribute_name,
      </if>
      <if test="minPrice != null" >
        min_price,
      </if>
      <if test="maxPrice != null" >
        max_price,
      </if>
      <if test="giveType != null" >
        give_type,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="lifeUnitId != null" >
        life_unit_id,
      </if>
      <if test="lifeUnit != null" >
        life_unit,
      </if>
      <if test="convertedValue != null" >
        converted_value,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="smallImage != null" >
        small_image,
      </if>
      <if test="saleAttributeName != null" >
        sale_attribute_name,
      </if>
      <if test="saleAttributeAliasName != null" >
        sale_attribute_alias_name,
      </if>
      <if test="saleAttributeIds != null" >
        sale_attribute_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="commodityAttributeParameter != null" >
        #{commodityAttributeParameter,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="vendorCode != null" >
        #{vendorCode,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null" >
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="vendorName != null" >
        #{vendorName,jdbcType=VARCHAR},
      </if>
      <if test="retailPrice != null" >
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="preferentialPrice != null" >
        #{preferentialPrice,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="areaCategory != null" >
        #{areaCategory,jdbcType=CHAR},
      </if>
      <if test="stockLimit != null" >
        #{stockLimit,jdbcType=CHAR},
      </if>
      <if test="splitSingle != null" >
        #{splitSingle,jdbcType=CHAR},
      </if>
      <if test="warehouse != null" >
        #{warehouse,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="beforeDelState != null" >
        #{beforeDelState,jdbcType=VARCHAR},
      </if>
      <if test="bigImage != null" >
        #{bigImage,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isHotSale != null" >
        #{isHotSale,jdbcType=CHAR},
      </if>
      <if test="isNew != null" >
        #{isNew,jdbcType=CHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="entityStorage != null" >
        #{entityStorage,jdbcType=CHAR},
      </if>
      <if test="buyType != null" >
        #{buyType,jdbcType=CHAR},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitGroupId != null" >
        #{unitGroupId,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="categoryattributeName != null" >
        #{categoryattributeName,jdbcType=VARCHAR},
      </if>
      <if test="minPrice != null" >
        #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="giveType != null" >
        #{giveType,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="lifeUnitId != null" >
        #{lifeUnitId,jdbcType=VARCHAR},
      </if>
      <if test="lifeUnit != null" >
        #{lifeUnit,jdbcType=VARCHAR},
      </if>
      <if test="convertedValue != null" >
        #{convertedValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=LONGVARCHAR},
      </if>
      <if test="smallImage != null" >
        #{smallImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="saleAttributeName != null" >
        #{saleAttributeName,jdbcType=LONGVARCHAR},
      </if>
      <if test="saleAttributeAliasName != null" >
        #{saleAttributeAliasName,jdbcType=LONGVARCHAR},
      </if>
      <if test="saleAttributeIds != null" >
        #{saleAttributeIds,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ffzx.stms.model.Commodity" >
    update cims_db.commodity
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        alias_name = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null" >
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="commodityAttributeParameter != null" >
        commodity_attribute_parameter = #{commodityAttributeParameter,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="vendorCode != null" >
        vendor_code = #{vendorCode,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null" >
        vendor_id = #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="vendorName != null" >
        vendor_name = #{vendorName,jdbcType=VARCHAR},
      </if>
      <if test="retailPrice != null" >
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="preferentialPrice != null" >
        preferential_price = #{preferentialPrice,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="areaCategory != null" >
        area_category = #{areaCategory,jdbcType=CHAR},
      </if>
      <if test="stockLimit != null" >
        stock_limit = #{stockLimit,jdbcType=CHAR},
      </if>
      <if test="splitSingle != null" >
        split_single = #{splitSingle,jdbcType=CHAR},
      </if>
      <if test="warehouse != null" >
        warehouse = #{warehouse,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="beforeDelState != null" >
        before_del_state = #{beforeDelState,jdbcType=VARCHAR},
      </if>
      <if test="bigImage != null" >
        big_image = #{bigImage,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isHotSale != null" >
        is_hot_sale = #{isHotSale,jdbcType=CHAR},
      </if>
      <if test="isNew != null" >
        is_new = #{isNew,jdbcType=CHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy.id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null" >
        last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="entityStorage != null" >
        entity_storage = #{entityStorage,jdbcType=CHAR},
      </if>
      <if test="buyType != null" >
        buy_type = #{buyType,jdbcType=CHAR},
      </if>
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitGroupId != null" >
        unit_group_id = #{unitGroupId,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null" >
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="categoryattributeName != null" >
        categoryAttribute_name = #{categoryattributeName,jdbcType=VARCHAR},
      </if>
      <if test="minPrice != null" >
        min_price = #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        max_price = #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="giveType != null" >
        give_type = #{giveType,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="lifeUnitId != null" >
        life_unit_id = #{lifeUnitId,jdbcType=VARCHAR},
      </if>
      <if test="lifeUnit != null" >
        life_unit = #{lifeUnit,jdbcType=VARCHAR},
      </if>
      <if test="convertedValue != null" >
        converted_value = #{convertedValue,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=LONGVARCHAR},
      </if>
      <if test="smallImage != null" >
        small_image = #{smallImage,jdbcType=LONGVARCHAR},
      </if>
      <if test="saleAttributeName != null" >
        sale_attribute_name = #{saleAttributeName,jdbcType=LONGVARCHAR},
      </if>
      <if test="saleAttributeAliasName != null" >
        sale_attribute_alias_name = #{saleAttributeAliasName,jdbcType=LONGVARCHAR},
      </if>
      <if test="saleAttributeIds != null" >
        sale_attribute_ids = #{saleAttributeIds,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ffzx.stms.model.Commodity" >
    update cims_db.commodity
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      alias_name = #{aliasName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      commodity_attribute_parameter = #{commodityAttributeParameter,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      vendor_code = #{vendorCode,jdbcType=VARCHAR},
      vendor_id = #{vendorId,jdbcType=VARCHAR},
      vendor_name = #{vendorName,jdbcType=VARCHAR},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      preferential_price = #{preferentialPrice,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      area_category = #{areaCategory,jdbcType=CHAR},
      stock_limit = #{stockLimit,jdbcType=CHAR},
      split_single = #{splitSingle,jdbcType=CHAR},
      warehouse = #{warehouse,jdbcType=CHAR},
      status = #{status,jdbcType=VARCHAR},
      before_del_state = #{beforeDelState,jdbcType=VARCHAR},
      big_image = #{bigImage,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      is_hot_sale = #{isHotSale,jdbcType=CHAR},
      is_new = #{isNew,jdbcType=CHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      create_by = #{createBy.id,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      entity_storage = #{entityStorage,jdbcType=CHAR},
      buy_type = #{buyType,jdbcType=CHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      unit_group_id = #{unitGroupId,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      categoryAttribute_name = #{categoryattributeName,jdbcType=VARCHAR},
      min_price = #{minPrice,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      give_type = #{giveType,jdbcType=INTEGER},
      period = #{period,jdbcType=VARCHAR},
      life_unit_id = #{lifeUnitId,jdbcType=VARCHAR},
      life_unit = #{lifeUnit,jdbcType=VARCHAR},
      converted_value = #{convertedValue,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      thumbnail = #{thumbnail,jdbcType=LONGVARCHAR},
      small_image = #{smallImage,jdbcType=LONGVARCHAR},
      sale_attribute_name = #{saleAttributeName,jdbcType=LONGVARCHAR},
      sale_attribute_alias_name = #{saleAttributeAliasName,jdbcType=LONGVARCHAR},
      sale_attribute_ids = #{saleAttributeIds,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ffzx.stms.model.Commodity" >
    update cims_db.commodity
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      alias_name = #{aliasName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      commodity_attribute_parameter = #{commodityAttributeParameter,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      vendor_code = #{vendorCode,jdbcType=VARCHAR},
      vendor_id = #{vendorId,jdbcType=VARCHAR},
      vendor_name = #{vendorName,jdbcType=VARCHAR},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      preferential_price = #{preferentialPrice,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      area_category = #{areaCategory,jdbcType=CHAR},
      stock_limit = #{stockLimit,jdbcType=CHAR},
      split_single = #{splitSingle,jdbcType=CHAR},
      warehouse = #{warehouse,jdbcType=CHAR},
      status = #{status,jdbcType=VARCHAR},
      before_del_state = #{beforeDelState,jdbcType=VARCHAR},
      big_image = #{bigImage,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      is_hot_sale = #{isHotSale,jdbcType=CHAR},
      is_new = #{isNew,jdbcType=CHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      create_by = #{createBy.id,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy.id,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      entity_storage = #{entityStorage,jdbcType=CHAR},
      buy_type = #{buyType,jdbcType=CHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      unit_group_id = #{unitGroupId,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      categoryAttribute_name = #{categoryattributeName,jdbcType=VARCHAR},
      min_price = #{minPrice,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      give_type = #{giveType,jdbcType=INTEGER},
      period = #{period,jdbcType=VARCHAR},
      life_unit_id = #{lifeUnitId,jdbcType=VARCHAR},
      life_unit = #{lifeUnit,jdbcType=VARCHAR},
      converted_value = #{convertedValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>